th.th1 {
	background-color: orange;
	size: 200px;
}

th.th2 {
	background-color: brown;
	size: 200px;
}

td.td1 {
	background-color: red;
	size: 200px;
}

td.td2 {
	background-color: blue;
	size: 200px;
}